{include file="public/header"}
<body>
<header id="header">
  <div class="navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="">
          <img src="../static/index/image/logo.png" alt="">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{:url('index/index')}">首页</a></li>
          {volist name="category" id="category"}
          <li>
              <a href="{:url('news/index',['catid'=>$category.id])}" {if condition="$category.id eq $_GET['catid']"}class="curr"{/if}>{$category.cat_name}</a>
          </li>
          {/volist}
      </ul>
    </div>
  </div>
</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-9">

					<div class="news-list">
                        {volist name="news" id="news"}
                        <dl>
                            <dt><a target="_blank" href="{:url('news/detail',['id'=>$news.id])}">{$news.title}</a></dt>
                            <dd class="news-img">
                                <a target="_blank" href="{:url('news/detail',['id'=>$news.id])}"><img width="200" height="120" src="{$news.image}" alt="{$news.title}"></a>
                            </dd>
                            <dd class="news-intro">
                                {$news.description}
                            </dd>
                            <dd class="news-info" style="float: right;">
                                <span>{$news.create_time}</span> 阅读(<i news-id="{$news.id}" class="news_count node-24">{$news.read_count}</i>)
                            </dd>
                        </dl>
                        {/volist}
					</div>
                    {$page}
				</div>
				<!--start right -->

				<div class="col-sm-3 col-md-3">
  <div class="right-title">
    <h3>文章排行</h3>
    <span>TOP ARTICLES</span>
  </div>

  <div class="right-content">
    <ul>
        {volist name="hotNews" id="hotNews"}
        <li class="num2 curr">
            <a target="_blank" href="{:url('news/detail',['id'=>$hotNews])}">{$key|getNewsTitle}</a>
        </li>
        {/volist}
    </ul>
  </div>
  </div>
				<!-- end right-->
			</div>
		</div>
	</section>

{include file="public/footer"}
</body></html>